
.header-widget-region,
.site-content {
	-webkit-tap-highlight-color: transparent
}
.hidden{
	opacity:0;
}

.anterior{
	position: absolute;
	left: 15%;
}
.proximo{
	position: absolute;
	right: 15%;
}

.site-header {
	background-image:url(assets/images/wave.png);
	padding-top: 1.618em;
	padding-bottom: 1.618em;
	color: #9aa0a7;
	background-position: bottom;
	position: relative;
	background-repeat-y: no-repeat;
	z-index: 999;
}
.site-header-fixed {
	background-image:url(assets/images/wave-fixed.png) !important;
	padding-top: 1.618em;
	padding-bottom: 1.618em;
	color: #9aa0a7;
	background-position: bottom;
	position: relative;
	background-repeat-y: no-repeat;
	z-index: 999;
}


.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
	display: block
}

.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
	max-width: 210px
}

.site-header .custom-logo-link,
.site-header .site-branding,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
	margin-bottom: 0;
	float: left
}

.site-header .widget {
	margin-bottom: 0
}

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
	margin-bottom: 2.235801032em
}
.site-header {
	margin-bottom: 2.235801032em
}
.no-wc-breadcrumb .site-header {
	margin-bottom: 2.235801032em
}

.no-wc-breadcrumb.page-template-template-homepage .site-header {
	margin-bottom: 0
}

.header-widget-region {
	position: relative;
	z-index: 99
}

.site-branding .site-title {
	font-size: 2em;
	letter-spacing: -1px;
	margin: 0
}

.site-branding .site-title a {
	font-weight: 700
}

.site-branding .site-description {
	font-size: .875em;
	display: none
}

.site-main {
	margin-bottom: 2.617924em
}

.site-content {
	outline: 0
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
	padding-top: 4.235801032em
}

.page-template-template-homepage .type-page {
	padding-top: 2.617924em;
	padding-bottom: 2.617924em;
	position: relative
}

.page-template-template-homepage .type-page .storefront-hero__button-edit {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: .875em
}

.page-template-template-homepage .entry-content {
	font-size: 1.1em
}

.page-template-template-homepage .entry-content p:last-child {
	margin-bottom: 0
}

.page-template-template-homepage .entry-header h1 {
	font-size: 3.706325903em;
	margin-bottom: .2360828548em
}

.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
	max-width: 41.0994671405em;
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail {
	background-size: cover;
	background-position: center center;
	padding-top: 6.8535260698em;
	padding-bottom: 6.8535260698em
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
	opacity: 0;
	-webkit-transition: all, ease, .5s;
	transition: all, ease, .5s
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content.loaded,
.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title.loaded {
	opacity: 1
}

.site-footer:before{
	content:'';
	position:absolute;
	width:100%;
	height:31px;
	margin-top: -67px;
	background-image:url(assets/images/border-footer.png);
	background-repeat:repeat-x;
}
.site-footer {
	background-color: #f2f2f2;
	font-family: 'Patrick Hand', cursive;
	color: #76787e;
	padding: 3.706325903em 0
}
.sub-footer a{
	font-size:14px;
	color:#6244bb !important;
	font-weight:bold;
}
.site-footer .sub-footer a:hover, .site-footer .col-full .first a:hover{
	color:#e691bd !important;
}
.site-footer .col-full .first a{
	font-family: 'Patrick Hand', cursive;
	color:#a4a4a4;
	font-size:20px;
}
.site-footer h2{
	color:#6244bb !important;
	font-size:24px;
	margin-bottom:20px !important;
}
.site-footer h3{
	color:#e691bd !important;
	font-size:32px;
	margin-top: -10px !important;
}
.site-footer span{
	color:#e691bd !important;
	margin-top:-30px;
	font-size:16px !important;
}
.site-footer .col-full .first {
	display:flex;
}
.site-footer .col-full .sub-footer {
	display:flex;
	font-family: 'Quicksand', sans-serif !important;
	justify-content: space-between;
	font-size:12px;
	color:#9a9a9a;
	font-weight: bold;
	margin: 20px 0px;
}
.title-footer-cliente:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 22px;
	margin-top: 9px;
	background-repeat: no-repeat;
	background-image: url(assets/images/icons/title-footer-cliente.svg);
	margin-left: -29px;
}
.title-footer-duvidas:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 22px;
	margin-top: 13px;
	background-repeat: no-repeat;
	background-image: url(assets/images/icons/title-footer-duvidas.svg);
	margin-left: -29px;
}
.title-footer-politicas:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 22px;
	margin-top: 8px;
	background-repeat: no-repeat;
	background-image: url(assets/images/icons/title-footer-politicas.svg);
	margin-left: -29px;
}
.site-footer .col-full .opacotinho {
	display:flex;
	padding: 30px 0px;
	border-top: 1px solid #e691bd;
	border-bottom: 1px solid #e691bd;
	margin-top:50px;
	align-items: center;
}
.opacotinho .logo{
	flex-basis: 10%;
}
.opacotinho .text{
	flex-basis: 90%;
	font-size:10px;
	font-family: 'Quicksand', sans-serif;
	color:#9a9a9a;
	padding-left: 50px;
}
.opacotinho .logo img{
	width:100%;
}
.site-footer .col-full .cliente, .site-footer .col-full .duvidas, .site-footer .col-full .politicas, .site-footer .col-full .atendimento{
	flex-basis: 17%;
	display:flex;
	flex-direction: column;
	padding-left: 20px;
}
.contacts{
	font-family: 'Patrick Hand', cursive;
	color:#6244bb;
	margin-top:20px;
	font-size:20px;
}
.contacts .whats{
	display:flex;
	align-items: center;
}
.contacts .whats img{
	width:17px;
	margin-right:10px;
}

.contacts .email{
	display:flex;
	align-items: center;
	margin-top:-7px;
}
.contacts .email img{
	width:20px;
	margin-right:10px;
	transform:rotate(-7deg);
}
.site-footer .col-full .atendimento{
	padding-left:50px;
}
.site-footer .col-full .certs{
	flex-basis: 33%;
	padding-left: 200px;
}
.site-footer .col-full .certs img{
	float:right;
}

.site-info {
	padding: 2.617924em 0
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1em
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1em
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto
}

.screen-reader-text {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto!important;
	display: block;
	font-weight: 700;
	height: auto;
	left: 0;
	line-height: normal;
	padding: 1em 1.618em;
	text-decoration: none;
	top: 0;
	width: auto;
	z-index: 100000;
	outline: 0
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
	content: "";
	display: table
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
	clear: both
}

table {
	border-spacing: 0;
	width: 100%;
	border-collapse: separate
}

table caption {
	padding: 1em 0;
	font-weight: 600
}

table td,
table th {
	padding: 1em 1.41575em;
	text-align: left;
	vertical-align: top
}

table td p:last-child,
table th p:last-child {
	margin-bottom: 0
}

table th {
	font-weight: 600
}

table thead th {
	padding: 1.41575em;
	vertical-align: middle
}

table tbody h2 {
	font-size: 1em;
	letter-spacing: normal;
	font-weight: 400
}

table tbody h2 a {
	font-weight: 400
}

.error404 .site-content .widget_product_search {
	padding: 1.618em;
	background-color: rgba(0, 0, 0, .025)
}

.error404 .site-content .widget_product_search form {
	margin: 0
}

.error404.left-sidebar .content-area,
.error404.right-sidebar .content-area {
	width: 100%
}

.error404 .fourohfour-columns-2 {
	padding: 2.617924em 0;
	border: 1px solid rgba(0, 0, 0, .05);
	border-width: 1px 0;
	margin-bottom: 2.617924em
}

.error404 .fourohfour-columns-2:after,
.error404 .fourohfour-columns-2:before {
	content: "";
	display: table
}

.error404 .fourohfour-columns-2:after {
	clear: both
}

.error404 .fourohfour-columns-2 .widget,
.error404 .fourohfour-columns-2 ul.products,
.error404 .fourohfour-columns-2 ul.products li.product {
	margin-bottom: 0
}

.error404 .fourohfour-columns-2 .col-1 {
	width: 47.8260869565%;
	float: left;
	margin-right: 4.347826087%
}

.error404 .fourohfour-columns-2 .col-1 ul.products li.product {
	width: 45.4545454545%;
	float: left;
	margin-right: 9.0909090909%
}

.error404 .fourohfour-columns-2 .col-2 {
	width: 47.8260869565%;
	float: right;
	margin-right: 0;
	padding: 1.618em;
	background-color: rgba(0, 0, 0, .025)
}

#comments {
	padding-top: 2.617924em
}

#comments .comments-title {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	padding-bottom: .5407911001em;
	margin-bottom: 1.618em
}

#comments .comment-list {
	list-style: none;
	margin-left: 0
}

#comments .comment-list .comment-body:after,
#comments .comment-list .comment-body:before {
	content: "";
	display: table
}

#comments .comment-list .comment-body:after {
	clear: both
}

#comments .comment-list .comment-content {
	padding-bottom: 1.618em;
	margin-bottom: 1.618em
}

#comments .comment-list .comment-content .comment-text {
	padding: 1.618em;
	border-radius: 3px
}

#comments .comment-list .comment-content .comment-text p:last-child {
	margin-bottom: 0
}

#comments .comment-list .comment-meta {
	margin-bottom: 1em
}

#comments .comment-list .comment-meta .avatar {
	margin-bottom: 1em;
	max-width: 64px;
	height: auto
}

#comments .comment-list .comment-meta a.comment-date {
	font-size: .875em
}

#comments .comment-list .comment-meta cite {
	font-style: normal;
	clear: both;
	display: block
}

#comments .comment-list .reply {
	margin-bottom: 1.618em;
	padding-top: .6180469716em
}

#comments .comment-list .reply:after,
#comments .comment-list .reply:before {
	content: "";
	display: table
}

#comments .comment-list .reply:after {
	clear: both
}

#comments .comment-list .reply a {
	display: inline-block;
	margin-right: 1em
}

#comments .comment-list .reply a:last-child {
	margin-right: 0
}

#comments .comment-list .children {
	list-style: none
}

.comment-content a {
	word-wrap: break-word
}

#respond {
	clear: both;
	padding: 1.618em;
	background-color: rgba(0, 0, 0, .0125);
	position: relative
}

#respond .comment-form-author input,
#respond .comment-form-email input,
#respond .comment-form-url input {
	width: 100%
}

#respond .form-submit,
#respond form {
	margin-bottom: 0
}

#respond #cancel-comment-reply-link {
	position: absolute;
	top: .5407911001em;
	right: .5407911001em;
	display: block;
	height: 1em;
	width: 1em;
	overflow: hidden;
	line-height: 1;
	font-size: 1.41575em;
	text-align: center;
	-webkit-transition: ease, .3s, -webkit-transform;
	transition: ease, .3s, -webkit-transform;
	transition: transform, ease, .3s;
	transition: transform, ease, .3s, -webkit-transform
}

#respond #cancel-comment-reply-link:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3)
}

.hentry {
	margin: 0 0 4.235801032em
}

.hentry .wp-post-image {
	margin-bottom: 1.618em;
	margin-left: auto;
	margin-right: auto
}

.hentry .entry-header {
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.hentry .entry-header .byline,
.hentry .entry-header .posted-on {
	font-size: .875em
}

.hentry .entry-header .byline a,
.hentry .entry-header .posted-on a {
	font-weight: 400;
	text-decoration: underline
}

.hentry .entry-header .byline a:hover,
.hentry .entry-header .posted-on a:hover {
	text-decoration: none
}

.hentry .entry-meta {
	font-weight: 300
}

.hentry.type-page .entry-header {
	border-bottom: 0;
	margin-bottom: 0
}

.byline,
.updated:not(.published) {
	display: none
}

.group-blog .byline,
.single .byline {
	display: inline
}

.page-links {
	clear: both;
	margin: 0 0 1em
}

.author,
.cat-links,
.comments-link,
.tags-links {
	display: block;
	margin-bottom: 1.618em
}

.author .avatar {
	width: 64px;
	margin-bottom: 1em
}

form {
	margin:0;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline
}

.added_to_cart,
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	border: 0;
	background: 0 0;
	background-color: #43454b;
	border-color: #43454b;
	color: #fff;
	cursor: pointer;
	padding: .6180469716em 1.41575em;
	text-decoration: none;
	font-weight: 600;
	text-shadow: none;
	display: inline-block;
	outline: 0;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border-radius: 0
}

.added_to_cart.alt,
.added_to_cart.cta,
.button.alt,
.button.cta,
button.alt,
button.cta,
input[type=button].alt,
input[type=button].cta,
input[type=reset].alt,
input[type=reset].cta,
input[type=submit].alt,
input[type=submit].cta {
	background-color: #2c2d33;
	border-color: #2c2d33
}

.added_to_cart.alt:hover,
.added_to_cart.cta:hover,
.button.alt:hover,
.button.cta:hover,
button.alt:hover,
button.cta:hover,
input[type=button].alt:hover,
input[type=button].cta:hover,
input[type=reset].alt:hover,
input[type=reset].cta:hover,
input[type=submit].alt:hover,
input[type=submit].cta:hover {
	background-color: #2c2d33
}

.added_to_cart:hover,
.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	color: #fff
}

.added_to_cart:focus,
.button:focus,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
	outline: 1px dotted #96588a
}

.added_to_cart.loading,
.button.loading,
button.loading,
input[type=button].loading,
input[type=reset].loading,
input[type=submit].loading {
	opacity: .5
}

.added_to_cart.small,
.button.small,
button.small,
input[type=button].small,
input[type=reset].small,
input[type=submit].small {
	padding: .5407911001em .875em;
	font-size: .875em
}

.added_to_cart.disabled,
.added_to_cart:disabled,
.button.disabled,
.button:disabled,
button.disabled,
button:disabled,
input[type=button].disabled,
input[type=button]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=submit].disabled,
input[type=submit]:disabled {
	opacity: .5!important;
	cursor: not-allowed
}

.added_to_cart.disabled:hover,
.added_to_cart:disabled:hover,
.button.disabled:hover,
.button:disabled:hover,
button.disabled:hover,
button:disabled:hover,
input[type=button].disabled:hover,
input[type=button]:disabled:hover,
input[type=reset].disabled:hover,
input[type=reset]:disabled:hover,
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover {
	opacity: .5!important
}

input[type=checkbox],
input[type=radio] {
	padding: 0
}

input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

input[type=search] {
	box-sizing: border-box
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

.input-text,
input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
 font-family: PTSansBold;
	padding: .6180469716em;
	background-color: transparent;
	color: #3a3a3a;
	outline: 0;
	border: 0;
	-webkit-appearance: none;
	box-sizing: border-box;
	text-align:right;

}


textarea {
	overflow: auto;
	padding-left: .875em;
	vertical-align: top;
	width: 100%
}

label {
	font-weight: 400
}

label.inline input {
	width: auto
}

fieldset {
	padding: 1.618em;
	padding-top: 1em;
	border: 0;
	margin: 0;
	margin-bottom: 1.618em;
	margin-top: 1.618em
}

fieldset legend {
	font-weight: 600;
	padding: .6180469716em 1em;
	margin-left: -1em
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity .2s .2s ease;
	transition: opacity .2s .2s ease;
	color:#f23e3e;
}
[placeholder]::-webkit-input-placeholder {
	color:red;
	color:#a2a2a2;
	font-family: PTSansRegular;
	font-size:16px;
}

img {
	border-radius: 3px
}

.comment-content img.wp-smiley,
.entry-content img.wp-smiley,
.page-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	display: inline-block;
	border-radius: 0
}

.wp-caption {
	margin-bottom: 1em;
	max-width: 100%
}

.wp-caption img[class*=wp-image-] {
	display: block;
	margin: 0 auto
}

.wp-caption .wp-caption-text {
	text-align: left;
	font-style: italic;
	border-bottom: 2px solid rgba(0, 0, 0, .05);
	padding: 1em 0
}

.gallery {
	margin-bottom: 1em
}

.gallery:after,
.gallery:before {
	content: "";
	display: table
}

.gallery:after {
	clear: both
}

.gallery .gallery-item {
	float: left
}

.gallery .gallery-item .gallery-icon a {
	display: block
}

.gallery .gallery-item .gallery-icon img {
	border: none;
	height: auto;
	margin: 0 auto
}

.gallery .gallery-item .gallery-caption {
	margin: 0;
	text-align: center
}

.gallery.gallery-columns-1 .gallery-item {
	width: 100%
}

.gallery.gallery-columns-2 .gallery-item {
	width: 50%
}

.gallery.gallery-columns-3 .gallery-item {
	width: 33.3%
}

.gallery.gallery-columns-4 .gallery-item {
	width: 25%
}

.gallery.gallery-columns-5 .gallery-item {
	width: 20%
}

.gallery.gallery-columns-6 .gallery-item {
	width: 16.666666667%
}

.gallery.gallery-columns-7 .gallery-item {
	width: 14.285714286%
}

.gallery.gallery-columns-8 .gallery-item {
	width: 12.5%
}

.gallery.gallery-columns-9 .gallery-item {
	width: 11.111111111%
}

embed,
iframe,
object,
video {
	max-width: 100%
}

.secondary-navigation {
	display: none
}

button.menu-toggle {
	cursor: pointer;
	text-align: left;
	float: right;
	position: relative;
	border: 2px solid transparent;
	box-shadow: none;
	border-radius: 2px;
	background-image: none;
	padding: .6180469716em .875em .6180469716em 2.617924em;
	font-size: .875em
}

button.menu-toggle:hover {
	background-image: none
}

button.menu-toggle span:before {
	-webkit-transition: all, ease, .2s;
	transition: all, ease, .2s
}

button.menu-toggle span:before,
button.menu-toggle:after,
button.menu-toggle:before {
	content: "";
	display: block;
	height: 2px;
	width: 14px;
	position: absolute;
	top: 50%;
	left: 1em;
	margin-top: -1px;
	-webkit-transition: all, ease, .2s;
	transition: all, ease, .2s;
	border-radius: 3px
}

button.menu-toggle:before {
	-webkit-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px)
}

button.menu-toggle:after {
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px)
}

.toggled button.menu-toggle:after,
.toggled button.menu-toggle:before {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.toggled button.menu-toggle:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.toggled button.menu-toggle span:before {
	opacity: 0
}

.primary-navigation {
	display: none
}

.main-navigation:after,
.main-navigation:before {
	content: "";
	display: table
}

.main-navigation:after {
	clear: both
}

.main-navigation div.menu {
	display: none
}

.main-navigation div.menu:last-child {
	display: block
}

.main-navigation .menu {
	clear: both
}

.handheld-navigation,
.main-navigation div.menu>ul:not(.nav-menu),
.nav-menu {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: all, ease, .8s;
	transition: all, ease, .8s
}

.handheld-navigation {
	clear: both
}

.handheld-navigation ul {
	margin: 0
}

.main-navigation.toggled .handheld-navigation,
.main-navigation.toggled .menu>ul:not(.nav-menu),
.main-navigation.toggled ul[aria-expanded=true] {
	max-height: 1750px
}

.main-navigation ul {
	margin-left: 0;
	list-style: none;
	margin-bottom: 0
}

.main-navigation ul ul {
	display: block;
	margin-left: 1.41575em
}

.main-navigation ul li a {
	padding: .875em 0;
	display: block
}

.main-navigation ul li a:hover {
	color: #e6e6e6
}

.site-main nav.navigation {
	clear: both;
	padding: 2.617924em 0
}

.site-main nav.navigation:after,
.site-main nav.navigation:before {
	content: "";
	display: table
}

.site-main nav.navigation:after {
	clear: both
}

.site-main nav.navigation .nav-next a,
.site-main nav.navigation .nav-previous a {
	display: inline-block;
	-webkit-transition: all, ease, .3s;
	transition: all, ease, .3s;
	padding: .6180469716em 1em;
	border-radius: 3px
}

.site-main nav.navigation .nav-previous {
	float: left;
	width: 50%
}

.site-main nav.navigation .nav-previous a:hover {
	-webkit-transform: translate(-1em);
	-ms-transform: translate(-1em);
	transform: translate(-1em)
}

.site-main nav.navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%
}

.site-main nav.navigation .nav-next a:hover {
	-webkit-transform: translate(1em);
	-ms-transform: translate(1em);
	transform: translate(1em)
}

.pagination,
.woocommerce-pagination {
	padding: 1em 0;
	border: 1px solid rgba(0, 0, 0, .05);
	border-width: 1px 0;
	text-align: center;
	clear: both
}

.pagination ul.page-numbers:after,
.pagination ul.page-numbers:before,
.woocommerce-pagination ul.page-numbers:after,
.woocommerce-pagination ul.page-numbers:before {
	content: "";
	display: table
}

.pagination ul.page-numbers:after,
.woocommerce-pagination ul.page-numbers:after {
	clear: both
}

.pagination .page-numbers,
.woocommerce-pagination .page-numbers {
	list-style: none;
	margin: 0
}

.pagination .page-numbers li,
.woocommerce-pagination .page-numbers li {
	display: inline-block
}

.pagination .page-numbers li .page-numbers,
.woocommerce-pagination .page-numbers li .page-numbers {
	border-left-width: 0;
	display: inline-block;
	padding: .3342343017em .875em;
	background-color: rgba(0, 0, 0, .025);
	color: #43454b
}

.pagination .page-numbers li .page-numbers.current,
.woocommerce-pagination .page-numbers li .page-numbers.current {
	background-color: #2c2d33;
	border-color: #2c2d33
}

.pagination .page-numbers li .page-numbers.dots,
.woocommerce-pagination .page-numbers li .page-numbers.dots {
	background-color: transparent
}

.pagination .page-numbers li .page-numbers.next,
.pagination .page-numbers li .page-numbers.prev,
.woocommerce-pagination .page-numbers li .page-numbers.next,
.woocommerce-pagination .page-numbers li .page-numbers.prev {
	padding-left: 1em;
	padding-right: 1em
}

.pagination .page-numbers li a.page-numbers:hover,
.woocommerce-pagination .page-numbers li a.page-numbers:hover {
	background-color: rgba(0, 0, 0, .05)
}

.rtl .pagination a.next,
.rtl .pagination a.prev,
.rtl .woocommerce-pagination a.next,
.rtl .woocommerce-pagination a.prev {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg)
}

.widget {
	margin: 0 0 3.706325903em
}

.widget select {
	max-width: 100%
}

.widget .widget-search .search-submit {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important
}

.widget .widget-title,
.widget .widgettitle {
	font-size: 1.41575em;
	letter-spacing: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	padding: 0 0 1em;
	margin-bottom: 1em;
	font-weight: 300
}

.widget ul {
	margin-left: 0;
	list-style: none
}

.widget ul ul {
	margin-left: 1.618em
}

.widget-area .widget {
	font-weight: 300
}

.widget-area .widget a.button {
	font-weight: 600!important
}

.header-widget-region:after,
.header-widget-region:before {
	content: "";
	display: table
}

.header-widget-region:after {
	clear: both
}

.header-widget-region .widget {
	margin: 0;
	padding: 1em 0;
	font-size: .875em
}

.widget_product_search form,
.widget_search form {
	position: relative
}

.widget_product_search form input[type=search],
.widget_product_search form input[type=text],
.widget_search form input[type=search],
.widget_search form input[type=text] {
	width: 100%
}

.widget_product_search form input[type=submit],
.widget_search form input[type=submit] {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
	top: 0;
	left: 0
}

.widget_archive ul,
.widget_categories ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_links ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_product_categories ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
	margin: 0
}

.widget_archive ul li,
.widget_categories ul li,
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li,
.widget_links ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_product_categories ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
	list-style: none;
	margin-bottom: 1em;
	line-height: 1.41575em
}

.widget_archive ul .children,
.widget_categories ul .children,
.widget_layered_nav ul .children,
.widget_layered_nav_filters ul .children,
.widget_links ul .children,
.widget_nav_menu ul .children,
.widget_pages ul .children,
.widget_product_categories ul .children,
.widget_recent_comments ul .children,
.widget_recent_entries ul .children {
	margin-top: .6180469716em;
	margin-left: 1.618em
}

.widget_archive ul .children,
.widget_categories ul .children,
.widget_layered_nav ul .children,
.widget_layered_nav_filters ul .children,
.widget_links ul .children,
.widget_nav_menu ul .children,
.widget_pages ul .children,
.widget_product_categories ul .children,
.widget_recent_comments ul .children,
.widget_recent_entries ul .children {
	margin-left: 0;
	margin-top: 1em
}

.footer-widgets #wp-calendar td,
.footer-widgets #wp-calendar th,
.widget-area #wp-calendar td,
.widget-area #wp-calendar th {
	padding: .236em;
	text-align: center
}

.widget_pages ul ul.children,
.widget_recent_entries ul ul.children {
	margin: .6180469716em 0 0 1.41575em
}

.widget_rating_filter .wc-layered-nav-rating {
	margin-bottom: .6180469716em
}

.widget_rating_filter .wc-layered-nav-rating a {
	text-decoration: none!important
}

.widget_rating_filter .wc-layered-nav-rating .star-rating {
	display: inline-block;
	height: 1em;
	line-height: 1
}

.widget-area .widget {
	font-size: .875em
}

.widget-area .widget h1.widget-title {
	font-size: 1.41575em
}

.widget-area .widget a:not(.button) {
	font-weight: 400;
	text-decoration: underline
}

.widget-area .widget a:not(.button):hover {
	text-decoration: none
}
